<h2>Редактирование профиля</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  <%= f.label :Имя %><br />
  <%= f.text_field :display_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :Новый_пароль %> <i>пустое поле оставит пароль преждним</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
    <% if @minimum_password_length %>
      <br />
      <em>Минимум <%= @minimum_password_length %> символов </em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :Подтвердите_новый_пароль %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Пароль %> <i>(Введите нынешний пароль)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить", class: "btn btn-primary"  %>
  </div>
<% end %>

<h3>Удаление аккаунта</h3>

<p>Не нравиться сервис? <%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete %></p>

<%= link_to "Назад", :back, class: "btn btn-default" %>
