<%= form_with(model: [@project, @task local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :task_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :task_description, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :project_id %>
    <%= form.number_field :project_id, id: :task_project_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.check_box :status, id: :task_status, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Сохранить', class: 'btn btn-primary' %>
    <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
