<p id="notice"><%= notice %></p>
<article class="project">
    <section class="project-head">
      <h2><%= @task.title %></h2>
      <time> <%= @project.created_at.to_date.strftime("%d %B, %Y") %> </time>
      <%= link_to 'Редактировать', edit_task_path(@task), class: "btn btn-default col-md-offset-8" %>
    </section>
        <p> Задача
        <% if @task.status %>
          завершена
        <% else %>
          открыта 
        <% end %> 
      </p>
     <p >  <strong>Проект: </strong>
    <%= link_to @project.name, project_path(@project) %>
</p>

<p>
  <strong>Описание:</strong>
  <pre>
    <%= @task.description %>
  </pre>
</p> 

<p><strong>Присвоено:</strong>
      <%= User.find(@task.assignet_to).email %>
      </p>

<p>
  <strong>Создано:</strong>
  <%= User.find(@task.created_by).email%>
</p>
</article>

<%= render @task.comments %>

<%= form_with(model: [ @task, @task.comments.build], local: true) do |form| %>
  <p>
    <%= form.label :Комментарий %><br>
    <%= form.text_area :body %>
    <%= form.text_field :commenter, type: 'hidden', value: current_user.id %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>