<h1>Роли</h1>
<%= link_to 'Создать', new_project_role_path, class: "btn btn-primary" %>
<% @role.each do |role| %>
<article class="task">
  <section class="task-head">
    <%= role.user.id %>
    <%= role.project.id %>
    <%= role.role %>
    <small>
      <%= link_to 'Изменить', edit_task_path(task) %>

      <%= link_to 'Удалить', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    </small>
  </section>
  </article>
    <% end %>